xml/circuito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.uniovi.es" elementFormDefault="qualified" targetNamespace="http://www.uniovi.es"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="circuito">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre" />
				<xs:element ref="longitudTrazado" />
				<xs:element ref="anchura" />
				<xs:element ref="fecha" />
				<xs:element ref="hora" />
				<xs:element ref="numero_vueltas" />
				<xs:element ref="localidad" />
				<xs:element ref="pais" />
				<xs:element ref="patrocinador" />
				<xs:element ref="referencias" />
				<xs:element ref="galeria_fotografias" />
				<xs:element ref="galeria_videos" />
				<xs:element ref="punto_origen" />
				<xs:element ref="tramos" />
				<xs:element ref="vencedor" />
				<xs:element ref="clasificacion" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nombre" type="xs:string" />

	<xs:simpleType name="LongitudTrazadoType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="20000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="longitudTrazado">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="LongitudTrazadoType">
					<xs:attribute name="unidad" type="xs:string" fixed="m"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="AnchuraType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="anchura">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="AnchuraType">
					<xs:attribute name="unidad" type="xs:string" fixed="m"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="fecha">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:minInclusive value="2025-01-01"/>
				<xs:maxInclusive value="2026-12-31"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="hora" type="xs:time" />
	<xs:element name="numero_vueltas" type="xs:positiveInteger" />
	<xs:element name="localidad" type="xs:string" />
	<xs:element name="pais" type="xs:string" />
	<xs:element name="patrocinador" type="xs:string" />
	<xs:element name="referencias">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="3" maxOccurs="unbounded" ref="referencia" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="referencia" type="xs:string" />
	<xs:element name="galeria_fotografias">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="5" ref="fotografia"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fotografia" type="xs:string" />
	<xs:element name="galeria_videos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="3" ref="video"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="video" type="xs:string" />
	<xs:element name="punto_origen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longitude" />
				<xs:element ref="latitude" />
				<xs:element ref="altitude" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="LatitudeType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-90"/>
			<xs:maxInclusive value="90"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="LongitudeType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-180"/>
			<xs:maxInclusive value="180"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AltitudeType">
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0"/>
			<xs:maxExclusive value="5000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="longitude">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="LongitudeType">
					<xs:attribute name="unidades" type="xs:string" fixed="grados"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="latitude">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="LatitudeType">
					<xs:attribute name="unidades" type="xs:string" fixed="grados"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="altitude">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="AltitudeType">
					<xs:attribute name="unidades" type="xs:string" fixed="metros"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tramos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="tramo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tramo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="distancia" />
				<xs:element ref="coordenadas" />
				<xs:element ref="sector" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="LongitudDecimalType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="20000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="distancia">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="LongitudDecimalType">
					<xs:attribute name="unidades" type="xs:string" fixed="metros"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="coordenadas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longitude" />
				<xs:element ref="latitude" />
				<xs:element ref="altitude" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sector" type="xs:string" />
	<xs:element name="vencedor" type="xs:string" />
	<xs:element name="clasificacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="3" maxOccurs="3" ref="piloto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="piloto">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="pos" type="xs:positiveInteger" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>