xml/circuito.dtd

<!ELEMENT circuito (
    nombre,
    longitudTrazado,
    anchura,
    fecha,
    hora,
    numero_vueltas,
    localidad,
    pais,
    patrocinador,
    referencias,
    galeria_fotografias,
    galeria_videos,
    punto_origen,
    tramos
)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT longitudTrazado (#PCDATA)>
<!ATTLIST longitudTrazado unidad CDATA #REQUIRED>
<!ELEMENT anchura (#PCDATA)>
<!ATTLIST anchura unidad CDATA #REQUIRED>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT numero_vueltas (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>

<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia (#PCDATA)>

<!ELEMENT galeria_fotografias (fotografia+)>
<!ELEMENT fotografia (#PCDATA)>

<!ELEMENT galeria_videos (video+)>
<!ELEMENT video (#PCDATA)>

<!ELEMENT punto_origen (longitude, latitude, altitude)>
<!ELEMENT longitude (#PCDATA)>
<!ATTLIST longitude unidades CDATA #REQUIRED>
<!ELEMENT latitude (#PCDATA)>
<!ATTLIST latitude unidades CDATA #REQUIRED>
<!ELEMENT altitude (#PCDATA)>
<!ATTLIST altitude unidades CDATA #REQUIRED>

<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (distancia, coordenadas, sector)>
<!ELEMENT distancia (#PCDATA)>
<!ATTLIST distancia unidades CDATA #REQUIRED>
<!ELEMENT coordenadas (longitude, latitude, altitude)>
<!ELEMENT sector (#PCDATA)>
